<div class="user-card">
  <div class="img"></div>
  <div class="user-detls">
    <h2><%= @single_user.name %></h2> 
    <span>Number Of Posts: <%= @single_user.post_counter %></span>
  </div>
</div>

<div class="user-bio">
  <h3>Bio:</h3>
  <p>
    <%= @single_user.bio %>
  </p>
</div>

<div>
  <% @user_posts.each.with_index(1) do |post, index|%>

    <div class="post-card box">
      <h3><%= post.title %></h3>
      <p>Post <%= index %></p>
      <p><%= post.text %></p>
      <span>
        Comments: <%= post.comments_counter %>
        Likes: <%= post.likes_counter %>
      </span>
    </div>
   
</div>
<% end %>
<a class="btn" href="/users/<%= @single_user.id %>/posts">See all posts</a>