<%= render "shared/user"%> 
<div>
  <% @user_posts.each.with_index(1) do |post, index|%>
    <div class="d-1">
      <div>
        <p><%= link_to post.class, users_posts_id_path(@single_user.id, post.id)%> <%= index %></p>
        <h3>Title: <%= post.title %></h3>
        <p><%= post.text %></p>
        <span>
          Comments: <%= post.comments_counter %>
          Likes: <%= post.likes_counter %>
        </span>
      </div>
      <div class="post-comment">
        <h1>Comments</h1>
        <% post.recent_comments.each do |comment| %>
          <h3><%= comment.author.name %>: <%= comment.text%></h3>
        <% end %>
      </div>
    </div>

  <% end %>
</div>
