<div class="user-card">
  <div></div>
  <div>
    <h2><%= @single_user.name %></h2> 
    <span>Number Of Posts: <%= @single_user.post_counter %></span>
  </div>
</div>

<div>
  <% @user_posts.each.with_index(1) do |post, index|%>
    <a class="user-link" href="/users/<%= @single_user.id %>/posts/<%= post.id %>">
    <div class="d-1">
      <div>
        <p>Post <%= index %></p>
        <h3>Title: <%= post.title %></h3>
        <p><%= post.text %></p>
        <span>
          Comments: <%= post.comments_counter %>
          Likes: <%= post.likes_counter %>
        </span>
      </div>
      <div class="post-comment">
        <h1>Comments</h1>
        <% post.recent_comments.each do |comment| %>
          <h3><%= comment.author.name %>: <%= comment.text%></h3>
        <% end %>
      </div>
    </div>
    </a>
  <% end %>
</div>
