<div class="user-card">
  <div></div>
  <div>
    <h2><%= @single_user.name %></h2> 
    <span>Number Of Posts: <%= @single_user.post_counter %></span>
  </div>
</div>

<div>
  <% @user_posts.each do |post| %>
    <div>
      <div>
        <h3><%= post.title %></h3>
        <p><%= post.text %></p>
        <span>
          Comments: <%= post.comments_counter %>
          Likes: <%= post.likes_counter %>
        </span>
      </div>
      <div class="post-comment">
        <% post.recent_comments.each do |comment| %>
          <h3><%= comment.author.name %>: <%= comment.text%></h3>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
