<div>
  <h2>
    <%= @single_post.title %> by <%= @single_post.author.name %>
  </h2>
  <span>
    Comments: <%= @single_post.comments_counter %>
    Likes: <%= @single_post.likes_counter %>
  </span>
  <p>
    <%= @single_post.text %>
  </p>
  <% if can? :destroy, @single_post %>
  <p><%= button_to 'Delete Post', "/users/#{@user.id}/posts/#{@single_post.id}", method: :delete, form: {  data: { turbo: :false } }%></p>
  <% end %>
</div>

<div class="post-comment">
  <h1>comments</h1>
  <% @post_comments.each do |comment| %>
    <h4><%= comment.author.name %>: <%= comment.text %></h4> 
 
  <% if can? :destroy, comment %>
  <%= button_to 'Delete Comment', user_post_comment_path(@user.id, @single_post, comment.id), method: :delete, form: {  data: { turbo: :false } }%>
  <% end %>
  <% end %>
</div>
<div>

<button>
  <%= link_to 'Write a comment', new_user_post_comment_path(@user.id, @single_post.id) %>
</button>
</div>
