<div>
  <h2>
    <%= @single_post.title %> by <%= @single_post.author.name %>
  </h2>
  <span>
    Comments: <%= @single_post.comments_counter %>
    Likes: <%= @single_post.likes_counter %>
  </span>
  <p>
    <%= @single_post.text %>
  </p>
  <div class="likes">
  <%= button_to "Like", like_path(:post_id, :current_user), method: "put"%>
  </div>
</div>

<div class="post-comment">
  <h1>comments</h1>
  <% @post_comments.each do |comment| %>
    <h4><%= comment.author.name %>: <%= comment.text %></h4> 
  <% end %>
</div>
<div>

<button>
  <%= link_to 'Write a comment', new_user_post_comment_path(@user.id, @single_post.id) %>
</button>
</div>
